<h1>New game</h1>
<div class="letters">
  <% @letters.each do |letter| %>
    <div class="letter"><%= letter.capitalize %></div>
  <% end %>
</div>
<form action="/score" method="POST" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join %>
  <label for="word" class="sr-only">What is the longest word you can find ?</label>
  <div class="input-group mb-3">
  <input type="text" class="form-control" name="word" id="word">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">Play</button>
  </div>
</div>
</form>
<p>Ton score actuel : <%= cookies[:score_count] %></p>
